.education-section {
  background-color: #edf0f1e1;
}
.date {
  color: rgb(0, 0, 0);
}
.courses {
  color: #fa6c2e;
}
.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  border-radius: 10px !important;
}
.vertical-timeline::before {
  background: #ff7b42 !important;
}
